<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change Pickup Day</title>
</head>
<body>
<p><a href="{% url 'logout' %}">Log Out</a></p>
<form action="{% url 'customers:change' %}" method="post">
  {% csrf_token %}
  Pickup Day(Mon-Fri):<input type="text" name="pickup_day" id="pickup_day" value="{{customers.pickup_day}}"><br>
  Additional Pickup:<input type="date" name="one_time_pickup" id="one_time_pickup" value="{{customers.one_time_pickup}}"><br>
  Suspension Start:<input type="date" name="suspension_start" id="suspension_start" value="{{customers.suspension_start}}"><br>
  Suspension End:<input type="date" name="suspension_end" id="suspension_end" value="{{customers.suspension_end}}"><br>
    <input type="submit" value="Save Changes">
</form>
</body>
</html>