<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create customer</title>
</head>
<body>
<form action="{% url 'customers:create_new_customer' %}" method="post">
  {% csrf_token %}
  Name:<input type="text" name="name" id="name"><br>
  User:<input type="text" name="user" id="user"><br>
  Pickup_day:<input type="text" name="pickup_day" id="pickup_day"><br>
  Address:<input type="text" name="address" id="address"><br>
  Zip code:<input type="text" name="zip_code" id="zip_code"><br>
  Balance:<input type="text" name="balance" id="balance"><br>
  One time pickup:<input type="date" name="one_time_pickup" id="one_time_pickup"><br>
  Suspension start:<input type="date" name="suspension_start" id="suspension_start"><br>
  Suspension end:<input type="date" name="suspension_end" id="suspension_end"><br>
    <input type="submit" value="Create User">
</form>
</body>
</html>